:root {
    --primary-init: 80% 0.257 133.88;
    --primary-init-l: 80%;
    --primary-init-c: 0.257;
    --primary-init-h: 133.88;

    --light-init: 90% 0 0;
    --light-init-l: 90%;
    --hightlight-l: 100%;

    --dark-init: 0% 0 0;
    --dark-init-l: 0%;

    --dark-grey: oklch(28.908% 0.00003 271.152);
    --light-grey: oklch(86.99% 0 0);

    --headerHeight: 6rem;
}

.mode-dark {
    --primary: oklch(var(--primary-init));
    --primary-10: oklch(var(--primary-init) / 0.1);
    --primary-30: oklch(var(--primary-init) / 0.3);
    --primary-50: oklch(var(--primary-init) / 0.5);
    --primary-80: oklch(var(--primary-init) / 0.8);
    --light: oklch(var(--light-init));
    --light-80: oklch(var(--light-init) / 0.8);
    --light-40: oklch(var(--light-init) / 0.4);
    --dark: oklch(var(--dark-init));
    --dark-80: oklch(var(--dark-init) / 0.8);
    --dark-50: oklch(var(--dark-init) / 0.5);
    --dark-30: oklch(var(--dark-init) / 0.3);
    --dark-35: oklch(var(--dark-init) / 0.35);
    --dark-10: oklch(var(--dark-init) / 0.1);
    --txt: var(--light);
    --hightlight: oklch(var(--hightlight-l) 0 0 / 1);
    --header-link-filter: brightness(0) saturate(100%) invert(79%) sepia(46%)
        saturate(3023%) hue-rotate(39deg) brightness(119%) contrast(105%);
    --bgimg-filter: oklch(
        50% calc(var(--primary-init-c) * 3.113) var(--primary-init-h) / 0.2
    );
}

.mode-light {
    --primary: oklch(
        calc(var(--primary-init-l) * 0.55) calc(var(--primary-init-c) / 1.32)
            var(--primary-init-h)
    );
    --primary-10: oklch(
        calc(var(--primary-init-l) * 0.55) calc(var(--primary-init-c) / 1.32)
            var(--primary-init-h) / 0.1
    );
    --primary-30: oklch(
        calc(var(--primary-init-l) * 0.55) calc(var(--primary-init-c) / 1.32)
            var(--primary-init-h) / 0.3
    );
    --primary-50: oklch(
        calc(var(--primary-init-l) * 0.55) calc(var(--primary-init-c) / 1.32)
            var(--primary-init-h) / 0.5
    );
    --primary-80: oklch(
        calc(var(--primary-init-l) * 0.55) calc(var(--primary-init-c) / 1.32)
            var(--primary-init-h) / 0.8
    );
    --light: oklch(var(--dark-init));
    --light-80: oklch(var(--dark-init-l) 0 0 / 0.8);
    --light-40: oklch(var(--dark-init-l) 0 0 / 0.4);
    --dark: oklch(var(--hightlight-l) 0 0 / 1);
    --dark-80: oklch(var(--hightlight-l) 0 0 / 0.8);
    --dark-50: oklch(var(--hightlight-l) 0 0 / 0.5);
    --dark-35: oklch(var(--hightlight-l) 0 0 / 0.35);
    --dark-30: oklch(var(--hightlight-l) 0 0 / 0.3);
    --dark-10: oklch(var(--hightlight-l) 0 0 / 0.1);
    --txt: var(--dark-grey);
    --hightlight: oklch(var(--dark-init-l) 0 0 / 1);
    --header-link-filter: filter: brightness(0) saturate(100%) invert(58%)
        sepia(56%) saturate(2106%) hue-rotate(49deg) brightness(95%)
        contrast(94%);
    --bgimg-filter: oklch(
        100% calc(var(--primary-init-c) * 3.113) var(--primary-init-h) / 0.2
    );
}
