* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--regular), var(--alternative), sans-serif;
    font-weight: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
*:is(:focus-visible, :focus) {
    outline: none;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: var(--dark);
}

body {
    color: var(--txt);
    font-family: var(--regular), var(--alternative), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: clamp(2rem, 1.559rem + 0.69vw, 2.4rem);
    width: 100%;
}
#anim-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    background-color: var(--primary);
    filter: brightness(0.7) saturate(2) grayscale(0.6);
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        /* backdrop-filter: brightness(1); */
        background-color: var(--dark-10);
        z-index: 1;
        left: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*
        backdrop-filter: brightness(1);
        filter: brightness(0.8);
        mix-blend-mode: multiply;
        */
        /* backdrop-filter: brightness(1) saturate(2); */
        filter: brightness(0.8);
        mix-blend-mode: hard-light;

        background-color: var(--dark);
    }
}
html.mode-light {
    /*&::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background: var(--dark-50);
        z-index: -1;
    }*/
    #anim-img {
        filter: none;
        &::before {
            background-color: var(--dark-30);
        }
        img {
            filter: invert(1);
        }
    }
}
.reveal-is-open {
    overflow: hidden;
}
ul.list {
    li {
        padding-left: 1.7rem;
        position: relative;
        &::before {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            border: 0.1rem solid var(--primary);
            position: absolute;
            top: 0.8rem;
            left: 0;
        }
    }
}
p,
ul li,
ol li,
main p,
main ul li,
main ol li {
    font-size: var(--text-base);
    line-height: inherit;
}
li:not(:first-child) {
    margin-top: 1rem;
}

ul li > p,
ol li > p {
    font-size: 1em;
}
p,
ul,
ol,
main p,
main ul,
main ol {
    margin-bottom: 3rem;
}
a,
main a {
    text-decoration: none;
    color: var(--txt);
}
a:is(:hover, :focus),
main a:is(:hover, :focus) {
    text-decoration: none;
    color: inherit;
}
a,
a svg *,
button,
button *,
.button,
.button * {
    transition: all 0.3s ease;
}
a img,
:link img,
:visited img {
    border: none;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}

strong,
b {
    font-weight: bold;
    font-family: var(--regular) !important;
}
i,
em {
    font-style: italic;
    font-family: var(--regular) !important;
}
strong em,
strong i,
em strong,
i strong,
b em,
b i,
em b,
i b {
    font-style: italic;
    font-weight: normal;
    font-family: var(--regular) !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sub,
sup {
    font-size: 0.8em;
    font-family: inherit;
    font-weight: inherit;
    padding: 0 0.2rem;
}
font {
    font: inherit;
}

::selection {
    background: var(--primary);
    color: var(--dark);
}
::-moz-selection {
    background: var(--primary);
    color: var(--dark);
}
/*
@media only screen and (min-width: 64em) {
    :not(html):not(#main)::-webkit-scrollbar {
        background: var(--light-grey);
        border-radius: 1.5rem;
        width: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-corner {
        background: var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb {
        background: oklch(var(--primary-init) / 0.4);
        border: 0.4rem solid var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--primary-init) / 0.2);
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:active {
        background: oklch(var(--primary-init));
    }
}*/

.container-bloc {
    max-width: var(--container);
}
@media only screen and (0 < width < 64rem) {
    .container-bloc {
        max-width: clamp(28rem, 3rem + 78.125vw, var(--wrap));
    }
}

@keyframes hide {
    100% {
        backdrop-filter: brightness(0.7) blur(0.7rem);
    }
}
@-webkit-keyframes hide {
    100% {
        backdrop-filter: brightness(0.7) blur(0.7rem);
    }
}
@-moz-keyframes hide {
    100% {
        backdrop-filter: brightness(0.7) blur(0.7rem);
    }
}
@-o-keyframes hide {
    100% {
        backdrop-filter: brightness(0.7) blur(0.7rem);
    }
}
@keyframes light-hide {
    100% {
        backdrop-filter: brightness(1.05) blur(1rem);
    }
}
@-webkit-keyframes light-hide {
    100% {
        backdrop-filter: brightness(1.05) blur(1rem);
    }
}
@-moz-keyframes light-hide {
    100% {
        backdrop-filter: brightness(1.05) blur(1rem);
    }
}
@-o-keyframes light-hide {
    100% {
        backdrop-filter: brightness(1.05) blur(1rem);
    }
}
@keyframes fade-bg {
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes fade-bg {
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes fade-bg {
    100% {
        transform: scale(1);
    }
}
@-o-keyframes fade-bg {
    100% {
        transform: scale(1);
    }
}
@supports (animation-range: 40vh 50vh) {
    #anim-img {
        /* position: relative; */

        &::before {
            -webkit-animation: hide linear forwards;
            -moz-animation: hide linear forwards;
            -o-animation: hide linear forwards;
            animation: hide linear forwards;

            animation-timeline: scroll();
            animation-range: exit 20vh entry 40vh;
        }
        img {
            -webkit-animation: fade-bg linear forwards;
            -moz-animation: fade-bg linear forwards;
            -o-animation: fade-bg linear forwards;
            animation: fade-bg linear forwards;

            animation-timeline: scroll();
            animation-range: exit 20vh entry 40vh;
            transform: scale(1.1);
        }
    }
    html.mode-light #anim-img {
        /* position: relative; */

        &::before {
            -webkit-animation: light-hide linear forwards;
            -moz-animation: light-hide linear forwards;
            -o-animation: light-hide linear forwards;
            animation: light-hide linear forwards;

            animation-timeline: scroll();
            animation-range: exit 20vh entry 40vh;
        }
    }
}
