* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--regular), var(--alternative), sans-serif;
    font-weight: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
*:is(:focus-visible, :focus) {
    outline: none;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-image: url(../../images/bgi.webp);
    background-attachment: fixed;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
html:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bgimg-filter);
    display: block;
    z-index: -2;
    backdrop-filter: brightness(1.2) contrast(1.2) blur(0.3rem);
}
/* html.mode-light { */
/* } */

body {
    background: var(--dark-30);
    color: var(--txt);
    font-family: var(--regular), var(--alternative), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: clamp(2rem, 1.559rem + 0.69vw, 2.4rem);
    width: 100%;
}
.reveal-is-open {
    overflow: hidden;
}
#main {
    overflow-x: hidden;
}
ul.list {
    padding-left: 1.7rem;
    list-style-type: square;
}
p,
ul li,
ol li,
main p,
main ul li,
main ol li {
    font-size: var(--text-base);
    line-height: inherit;
}
li:not(:first-child) {
    margin-top: 1rem;
}

ul li > p,
ol li > p {
    font-size: 1em;
}
p,
ul,
ol,
main p,
main ul,
main ol {
    margin-bottom: 3rem;
}
a,
main a {
    text-decoration: none;
    color: var(--txt);
}
a:is(:hover, :focus),
main a:is(:hover, :focus) {
    text-decoration: none;
    color: inherit;
}
a,
a svg *,
button,
button *,
.button,
.button * {
    transition: all 0.3s ease;
}
a img,
:link img,
:visited img {
    border: none;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}

strong,
b {
    font-weight: bold;
    font-family: var(--regular) !important;
}
i,
em {
    font-style: italic;
    font-family: var(--regular) !important;
}
strong em,
strong i,
em strong,
i strong,
b em,
b i,
em b,
i b {
    font-style: italic;
    font-weight: normal;
    font-family: var(--regular) !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sub,
sup {
    font-size: 0.8em;
    font-family: inherit;
    font-weight: inherit;
    padding: 0 0.2rem;
}
font {
    font: inherit;
}

::selection {
    background: var(--primary);
    color: var(--dark);
}
::-moz-selection {
    background: var(--primary);
    color: var(--dark);
}
/*
@media only screen and (min-width: 64em) {
    :not(html):not(#main)::-webkit-scrollbar {
        background: var(--light-grey);
        border-radius: 1.5rem;
        width: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-corner {
        background: var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb {
        background: oklch(var(--primary-init) / 0.4);
        border: 0.4rem solid var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--primary-init) / 0.2);
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:active {
        background: oklch(var(--primary-init));
    }
}*/

.container-bloc {
    max-width: var(--container);
}
@media only screen and (0 < width < 64rem) {
    .container-bloc {
        max-width: clamp(28rem, 3rem + 78.125vw, var(--wrap));
    }
}
