* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--regular), var(--alternative), sans-serif;
    font-weight: normal;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-image: url(../../images/avatar.webp), url(../../images/bgi.webp);
    background-size:
        auto 77vh,
        cover;
    background-attachment: scroll, fixed;
    background-blend-mode: color-burn, normal;
    background-repeat: no-repeat;
    background-position:
        top calc(23vh - 10rem) left
            calc(
                calc((100vw - 123rem) / 2) + calc((123rem - 11 * 3rem) / 12 * 5)
            ),
        center;
}
body {
    background: var(--dark-30);
    color: var(--txt);
    font-family: var(--regular), var(--alternative), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: clamp(1.5rem, 0.728rem + 1.207vw, 2.2rem);
    width: 100%;
}
#main {
    overflow-x: hidden;
}
p,
ul li,
ol li,
main p,
main ul li,
main ol li {
    font-size: var(--text-base);
    line-height: inherit;
}
li:not(:first-child) {
    margin-top: 1rem;
}

ul li > p,
ol li > p {
    font-size: 1em;
}
p,
ul,
ol,
main p,
main ul,
main ol {
    margin-bottom: 3rem;
}
a,
main a {
    text-decoration: none;
    color: var(--txt);
}
a:is(:hover, :focus),
main a:is(:hover, :focus) {
    text-decoration: none;
    color: inherit;
}
a,
a svg *,
button,
button *,
.button,
.button * {
    transition: all 0.3s ease;
}
a img,
:link img,
:visited img {
    border: none;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}

strong,
b {
    font-weight: bold;
    font-family: var(--regular) !important;
}
i,
em {
    font-style: italic;
    font-family: var(--regular) !important;
}
strong em,
strong i,
em strong,
i strong,
b em,
b i,
em b,
i b {
    font-style: italic;
    font-weight: normal;
    font-family: var(--regular) !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sub,
sup {
    font-size: 0.8em;
    font-family: inherit;
    font-weight: inherit;
    padding: 0 0.2rem;
}
font {
    font: inherit;
}

::selection {
    background: var(--primary);
    color: var(--dark);
}
::-moz-selection {
    background: var(--primary);
    color: var(--dark);
}

@media only screen and (min-width: 64em) {
    :not(html):not(#main)::-webkit-scrollbar {
        background: var(--light-grey);
        border-radius: 1.5rem;
        width: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-corner {
        background: var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb {
        background: oklch(var(--primary-init) / 0.4);
        border: 0.4rem solid var(--light-grey);
        border-radius: 1.5rem;
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--primary-init) / 0.2);
    }
    :not(html):not(#main)::-webkit-scrollbar-thumb:active {
        background: oklch(var(--primary-init));
    }
}
.container-bloc {
    max-width: clamp(28rem, 0.613rem + 85.586vw, 123rem);
}
