@utility title-picto {
    font-weight: bold;
    text-transform: uppercase;
}
@utility title-picto-small {
    @apply title-picto;
    font-size: clamp(0.9rem, 0.648rem + 0.246vw, 1rem);
    line-height: 1.2em;
}
@utility tags {
    li {
        font-size: clamp(1.1rem, 0.879em + 0.345vw, 1.3rem);
        line-height: 1rem;
        margin: 0.45rem;
        padding: clamp(0.4rem, 0.179rem + 0.345vw, 0.6rem)
            clamp(0.9rem, 0.348rem + 0.862vw, 1.4rem);
        text-transform: uppercase;
        font-weight: 600;
    }
}

@utility cta {
    margin-top: 2rem;
    font-size: var(--text-base);
    @apply title-picto;
    a,
    .button {
        color: var(--hightlight);
        background-color: var(--dark-50);
        border: 0.1rem solid var(--hightlight);
        padding: 1.1rem 3rem;
        display: inline-block;
        position: relative;
        /* text-transform: inherit; */
        /* font-weight: inherit; */
        span {
            font-weight: inherit;
        }
    }
    a::before,
    a::after {
        width: 1.3rem;
        height: 0.8rem;
        border: 0.1rem solid var(--primary);
        background: var(--dark);
        position: absolute;
        content: "";
    }
    a::before {
        left: calc(100% - 1.3rem - 1.3rem);
        top: -0.4rem;
    }
    a::after {
        left: 1.3rem;
        bottom: -0.4rem;
    }
    a:is(:hover, :focus) {
        border-color: var(--primary);
    }
    .button {
        padding: clamp(0.5rem, -0.5rem + 1.563vw, 1.1rem)
            clamp(1rem, -2.333rem + 5.208vw, 3rem);
        padding: 0.5rem clamp(1rem, -0.667rem + 2.604vw, 2rem);
        font-weight: initial;
    }
    .button:is(:focus) {
        box-shadow: 0 0 0rem 0.2rem var(--primary-80) !important;
        border-color: var(--dark) !important;
    }
    .button[aria-pressed="true"],
    .button:is(:hover) {
        border-color: var(--light-80);
        background-color: var(--light-80);
        color: var(--dark);
    }
    a:is(:hover, :focus)::before,
    a:is(:hover, :focus)::after {
        border-color: var(--light);
    }
    a:is(:hover, :focus)::before {
        left: 1.3rem;
    }
    a:is(:hover, :focus)::after {
        left: calc(100% - 1.3rem - 1.3rem);
    }
}
