@utility title-picto {
    font-weight: bold;
    text-transform: uppercase;
}
@utility title-picto-small {
    @apply title-picto;
    font-size: 1em;
    line-height: 1.2em;
}
@utility tagsli {
    font-size: clamp(1.1em, 0.879em + 0.345vw, 1.3em);
    line-height: initial;
    margin: 0.45rem;
    padding: clamp(0.4em, 0.179em + 0.345vw, 0.6em)
        clamp(0.9em, 0.348em + 0.862vw, 1.4em);
    color: var(--txt);
    border: 0.2rem solid var(--primary-80);
    background-color: var(--dark-80);
    box-shadow: 0 0 0 0.1rem var(--dark-80);
    text-transform: uppercase;
    font-weight: 600;
}

@utility cta {
    margin-top: 2rem;
    font-size: var(--text-base);
    @apply title-picto;
    a {
        color: var(--txt);
        background-color: var(--dark-50);
        border: 0.2rem solid var(--txt);
        padding: 1.1rem 3rem;
        display: inline-block;
        position: relative;
    }
    a::before,
    a::after {
        width: 1.3rem;
        height: 0.8rem;
        border: 0.2rem solid var(--primary);
        background: var(--dark);
        position: absolute;
        content: "";
    }
    a::before {
        left: calc(100% - 1.3rem - 1.3rem);
        top: -0.4rem;
    }
    a::after {
        left: 1.3rem;
        bottom: -0.4rem;
    }
    a:is(:hover, :focus) {
        border-color: var(--primary);
    }
    a:is(:hover, :focus)::before {
        left: 1.3rem;
    }
    a:is(:hover, :focus)::after {
        left: calc(100% - 1.3rem - 1.3rem);
    }
}
