p {
    margin-bottom: 0;
}

.slide-item {
    .xp-date {
        /* position: relative; */
        &::before {
            content: "";
            position: absolute;
            top: 3.5rem;
            left: clamp(-14.7rem, 58.749rem + -60.204vw, -2.9rem);
            width: clamp(1.5rem, -1.112rem + 2.551vw, 2rem);
            height: clamp(1.5rem, -1.112rem + 2.551vw, 2rem);
            border: 0.2rem solid var(--primary);
            border-radius: 50%;
            filter: drop-shadow(0 0 0.3rem var(--glow));
            background-color: var(--glow);
            animation: 15s glow-up 0s linear both infinite;
        }

        &::after {
            border-radius: 0 0 5.4rem 0;
            border-bottom: 0.2rem solid var(--primary);
            border-right: 0.2rem solid var(--primary);
            content: "";
            position: absolute;
            top: clamp(5rem, 2.388rem + 2.551vw, 5.5rem);
            left: clamp(-18.9rem, 72.5rem + -75vw, -4.3rem);
            width: clamp(2.2rem, -14.518rem + 16.327vw, 5.4rem);
            height: clamp(5.3rem, 7.79rem + -2.041vw, 5.7rem);
        }
    }

    &.git-branch .xp-date {
        &::after {
            border-radius: 0 0 0 0;
            height: calc(100% - clamp(1.5rem, -1.112rem + 2.551vw, 2rem));
            border-bottom: 0;
        }
    }
}
.swiper-slide-fully-visible {
    .slide-item:nth-child(1) .xp-date::before {
        animation-delay: 2.5s;
    }
    .slide-item:nth-child(2) .xp-date::before {
        animation-delay: 5s;
    }
    .slide-item:nth-child(3) .xp-date::before {
        animation-delay: 7.5s;
    }
    .slide-item:nth-child(4) .xp-date::before {
        animation-delay: 10s;
    }
    .slide-item:nth-child(5) .xp-date::before {
        animation-delay: 12.5s;
    }
}
.xp-title,
.xp-date {
    @apply title-picto;
    font-size: var(--text-base);
    font-family: var(--regular);
}
.xp-date {
    color: var(--primary);
}
.xp-desc {
    margin-top: 1.5rem;
    white-space: pre-line;
}

@property --glow {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}
@keyframes glow-up {
    7%,
    100% {
        --glow: transparent;
    }

    0%,
    5% {
        transform: scale(1.05);
        --glow: var(--primary-50);
    }
}
