.dark-mode {
    --primary: #90FF00;
    --light: #ffffff;
    --dark: #000000;
    --dark_grey: #2C2C2C;
    --light_grey: #D4D4D4;
    --txt: var(--light);
}
.light-mode {
    --primary: #65B200;
    --light: #000000;
    --dark: #ffffff;
    --dark_grey: #2C2C2C;
    --light_grey: #D4D4D4;
    --txt: var(--dark_grey);
}