@import "tailwindcss";

@theme {
    --*: initial;
    --alternative: Arial, Verdana;
    --regular: Open Sans;
    --title: Salsa;
    --text-base: clamp(1.3em, 0.969rem + 0.517vw, 1.6em);
    --spacing: 1rem;
    --breakpoint-sm: 20rem;
    --breakpoint-md: 40rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 89.375rem;
    --wrap: 123rem;
    --container: clamp(83rem, -17.887rem + 98.522vw, var(--wrap));
}
@layer theme {
    @import "./config/colors.css" layer(colors);
}

@layer base {
    @import "./config/reset.css";
    @import "./template.css";
    @import "./config/breakpoints.css" layer(breakpoints);
}

@import "./config/utilities.css";
@layer components {
    @import "./layout.css" layer(layout);
}
