.swiper-wrapper {
    transform: none !important;
}
#experiences {
    padding: 4rem 0;

    #XpSwiper {
        &::before {
            content: "";
            position: absolute;
            top: 3rem;
            left: 1rem;
            width: 0.3rem;
            height: calc(100% - 3rem);
            background-color: var(--light);
        }
    }

    .slide {
        padding-left: clamp(5rem, -73.367rem + 76.531vw, 20rem);
        overflow: hidden;
    }
    .slide-item {
        padding: 3rem 1rem;
        position: relative;
    }
    .slide-item:not(.git-branch) {
        &::before {
            content: "";
            position: absolute;
            top: 9.8rem;
            left: -19rem;
            width: 2rem;
            height: 2rem;
            background-color: var(--light);
            border-radius: 50%;
            transform: translateX(-50%);
        }
        &::after {
            border-radius: 0 5.4rem 0 0;
            border-top: 0.3rem solid var(--primary);
            border-right: 0.3rem solid var(--primary);
            content: "";
            position: absolute;
            top: 10.9rem;
            left: -18rem;
            width: 5.4rem;
            height: calc(100% - 7.2rem);
        }
    }

    .slide-item:not(:first-child) {
        background-image:
            repeating-linear-gradient(
                90deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                180deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                90deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                180deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            );
        background-position:
            left top,
            right top,
            left bottom,
            left top;
        background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
        background-size:
            100% 0.2rem,
            0,
            0,
            0;
    }
    .slide-item.odd {
        background-color: var(--dark-35);
    }

    .slide-item:last-child::after {
        height: calc(100% - 11rem);
    }
    .slide:last-child .slide-item:last-child::after {
        display: none;
    }
    .swiper-nav {
        margin-left: clamp(5rem, -73.367rem + 76.531vw, 20rem);
        margin-top: 3rem;
    }
}
