#experiences {
    padding: 4rem 0;

    #XpSwiper {
        &::before {
            content: "";
            position: absolute;
            top: 3.5rem;
            left: 1rem;
            width: 0.3rem;
            height: calc(100% - 3.5rem);
            background-color: var(--light);
        }
    }

    .slide {
        padding-left: clamp(5rem, -73.367rem + 76.531vw, 20rem);
        overflow: hidden;
    }
    .slide-item {
        padding: 3rem 1rem;
        position: relative;
    }
    .slide-item:not(.git-branch) {
        &::before {
            content: "";
            position: absolute;
            top: 9.8rem;
            left: clamp(-19rem, 75.612rem + -77.551vw, -3.8rem);
            width: clamp(1.5rem, -1.112rem + 2.551vw, 2rem);
            height: clamp(1.5rem, -1.112rem + 2.551vw, 2rem);
            background-color: var(--light);
            border-radius: 50%;
            transform: translateX(-50%);
        }
        &::after {
            border-radius: 0 5.4rem 0 0;
            border-top: 0.3rem solid var(--primary);
            border-right: 0.3rem solid var(--primary);
            content: "";
            position: absolute;
            top: clamp(10.2rem, 7.065rem + 3.061vw, 10.8rem);
            left: clamp(-19rem, 72.5rem + -75vw, -4.3rem);
            width: clamp(2.2rem, -14.518rem + 16.327vw, 5.4rem);
            height: calc(100% - clamp(6.5rem, 2.843rem + 3.571vw, 7.2rem));
            z-index: -1;
        }
    }

    .slide-item:not(:first-child) {
        background-image:
            repeating-linear-gradient(
                90deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                180deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                90deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            ),
            repeating-linear-gradient(
                180deg,
                var(--primary),
                var(--primary) 0.4rem,
                transparent 0.4rem,
                transparent 0.8rem
            );
        background-position:
            left top,
            right top,
            left bottom,
            left top;
        background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
        background-size:
            100% 0.2rem,
            0,
            0,
            0;
    }
    .slide-item.odd {
        background-color: var(--dark-35);
    }

    .slide-item:last-child::after {
        height: calc(100% - 10rem);
    }
    .slide:last-child .slide-item:last-child::after {
        display: none;
    }
    .swiper-nav {
        margin-left: clamp(5rem, -73.367rem + 76.531vw, 20rem);
        margin-top: 3rem;
    }
}
