/************************/
/******** Header ********/
/************************/
#__nuxt > div {
    position: relative;
    height: 100%;
}
#header {
    position: absolute;
    top: 0;
    height: calc(100% - clamp(6.5rem, -0.893rem + 11.552vw, 13.2rem));
    left: 0;
    width: 100%;
    /* border-left: 0.1rem solid var(--light); */
    a::before,
    a::after {
        background: none;
        display: none;
    }
}
#header-links {
    --headerLinksHeight: 21.7rem;
    position: sticky;
    top: calc(100% - var(--headerLinksHeight));
    left: calc(100% - 5vw);
    bottom: 0;
}
/*** Navigation ***/
#skip-link {
    position: absolute;
    top: 0;
    left: -0.1rem;
    a {
        display: block;
        padding: 0.7rem 1.5rem;
        background-color: var(--dark-50);
        border: 0.1rem solid var(--primary);
        transform: translateX(-100%);
    }
    a:focus {
        transform: translateX(0);
    }
    p {
        margin-bottom: 0;
    }
}
#header-nav {
    --headerNavHeight: 8.7rem;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: inline-block;

    top: calc(100vh - var(--headerNavHeight));
    transform: translateY(calc(-50vh + var(--headerNavHeight) / 2));

    ul {
        margin: 0;
    }
    li {
        margin: 0;
        font-size: 1em;
    }
    li a {
        @apply title-picto-small;
        display: block;
        padding-left: 1.2rem;
        &::before {
            content: "";
            width: 0.7rem;
            height: 0.2rem;
            position: absolute;
            top: 0.9rem;
            left: 0px;
            display: block;
            background-color: var(--hightlight);
        }
        span {
            padding: 0.5rem 0.5rem 0.5rem 0;
            max-width: clamp(8rem, 2.776rem + 5.102vw, 9rem);
            display: inline-block;
            transform: translateX(-130%);
            transition: all 0.3s ease;
            color: var(--hightlight);
            border-bottom: 0.1rem solid transparent;
            font-weight: 600;
        }
    }
    li a:is(:hover, :focus) {
        span {
            transform: translateX(0);
        }
    }

    li.active a {
        padding-left: 2.2rem;
        &::before {
            width: 1.7rem;
        }
        span {
            transform: translateX(0);
        }
        &:is(:focus) span {
            border-color: var(--hightlight);
        }
    }
}

/*** Links ***/
#header-links {
    width: 3rem;
    z-index: 2;
    padding-bottom: 12rem;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0.1rem;
        height: 10.6rem;
        background-color: var(--hightlight);
        transform: translateX(-50%);
    }
    ul {
        margin-bottom: 0;
    }
    li:not(:first-child) {
        margin-top: 1rem;
    }
    li {
        font-size: 1rem;
        a {
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            position: relative;
            span {
                opacity: 0;
                position: absolute;
                left: -1rem;
                top: 0;
                transform: translateX(calc(-100% + 2rem));
                transform-origin: right;
                white-space: nowrap;
                transition: 0.3s all ease;
            }
        }
        a:is(:hover) {
            /* filter: var(--header-link-filter); */
            transform: scale(1.2);
        }
        a:is(:focus) {
            span {
                opacity: 1;
                transform: translateX(-100%);
            }
        }
    }

    .gm a {
        background-image: url(../images/icons/mail.svg);
        background-size: 2.2rem auto;
        height: 2.1rem;
    }
    .li a {
        background-image: url(../images/icons/linkedin.svg);

        background-size: auto 2rem;
        height: 2.5rem;
    }
    .cv a {
        background-image: url(../images/icons/download-cv.svg);
        background-size: auto 2.7rem;
        height: 3.1rem;
    }
}

/*** Color mode ***/
#color-tools {
    position: absolute;
    top: 1rem;
    left: calc(100% - 5vw);
    transform: translateX(-4rem);
    z-index: 2;
    .button {
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 2.5rem;
        cursor: pointer;
        position: relative;
        span {
            position: absolute;
            top: 100%;
            left: 50%;
            transition: 0.3s all ease;
            transform-origin: top;
            opacity: 0;
            transform: translate(-50%, -100%);
            width: 9rem;
            line-height: 1.4;
            padding-top: 0.5rem;
            visibility: hidden;
        }
        &:is(:focus-visible) span {
            transform: translate(-50%, 0);
            opacity: 1;
            visibility: visible;
        }
    }
}
.mode-light {
    #color-tools .button,
    #header-links li a {
        filter: invert(0.95);
    }
}
#color-choice {
    position: relative;
    z-index: 2;
    button[aria-controls="color-panel"] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from BoxIcons Solid by Atisa - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='%23ffffff' d='M7.08 11.25A4.84 4.84 0 0 1 8 9.05L4.43 5.49A9.88 9.88 0 0 0 2 11.25zM9.05 8a4.84 4.84 0 0 1 2.2-.91V2a9.88 9.88 0 0 0-5.76 2.43zm3.7-6v5A4.84 4.84 0 0 1 15 8l3.56-3.56A9.88 9.88 0 0 0 12.75 2M8 15a4.84 4.84 0 0 1-.91-2.2H2a9.88 9.88 0 0 0 2.39 5.76zm3.25 1.92a4.84 4.84 0 0 1-2.2-.92l-3.56 3.57A9.88 9.88 0 0 0 11.25 22zM16 9.05a4.84 4.84 0 0 1 .91 2.2h5a9.88 9.88 0 0 0-2.39-5.76zM15 16a4.84 4.84 0 0 1-2.2.91v5a9.88 9.88 0 0 0 5.76-2.39zm1.92-3.25A4.84 4.84 0 0 1 16 15l3.56 3.56A9.88 9.88 0 0 0 22 12.75z'/%3E%3C/svg%3E");
    }
    #color-panel {
        position: absolute;
        right: 3rem;
        transition: all 0.3s ease;

        ul {
            margin: 0;
        }
        &[aria-hidden="true"] {
            opacity: 0;
            transform: translateX(1rem);
        }
        &[aria-hidden="false"] {
            opacity: 1;
            transform: translateX(0);
            button {
                z-index: inherit;
            }
        }
        button {
            text-indent: -999em;
            background-color: var(--primary);
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            z-index: -1;
            position: relative;

            /* &.vert-2 {
                background-color: #00eeb1;
            } */
            &.vert-init {
                background-color: #70de00;
                &:is(:hover, :focus) {
                    box-shadow:
                        0 0 0 0.1rem #70de00,
                        inset 0 0 0 0.2rem var(--dark);
                }
            }
            &.jaune {
                background-color: #c5c900;
                &:is(:hover, :focus) {
                    box-shadow:
                        0 0 0 0.1rem #c5c900,
                        inset 0 0 0 0.2rem var(--dark);
                }
            }
            &.orange {
                background-color: #ffa400;
                &:is(:hover, :focus) {
                    box-shadow:
                        0 0 0 0.1rem #ffa400,
                        inset 0 0 0 0.2rem var(--dark);
                }
            }
        }
        li {
            margin-top: 0;
            line-height: 0;
        }
    }
}

#color-mode-toggle {
    &[data-mode-color="light"] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Line Icons by Vjacheslav Trushkin - https://github.com/cyberalien/line-md/blob/master/license.txt --%3E%3Cpath fill='none' stroke='%23ffffff' stroke-dasharray='64' stroke-dashoffset='64' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3c-4.97 0 -9 4.03 -9 9c0 4.97 4.03 9 9 9c3.53 0 6.59 -2.04 8.06 -5c0 0 -6.06 1.5 -9.06 -3c-3 -4.5 1 -10 1 -10Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3C/svg%3E");
    }
    &[data-mode-color="dark"] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Line Icons by Vjacheslav Trushkin - https://github.com/cyberalien/line-md/blob/master/license.txt --%3E%3Cg fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='36' stroke-dashoffset='36' d='M12 7c2.76 0 5 2.24 5 5c0 2.76 -2.24 5 -5 5c-2.76 0 -5 -2.24 -5 -5c0 -2.76 2.24 -5 5 -5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='36;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='2' stroke-dashoffset='2' d='M12 19v1M19 12h1M12 5v-1M5 12h-1'%3E%3Canimate fill='freeze' attributeName='d' begin='0.5s' dur='0.2s' values='M12 19v1M19 12h1M12 5v-1M5 12h-1;M12 21v1M21 12h1M12 3v-1M3 12h-1'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.5s' dur='0.2s' values='2;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='2' stroke-dashoffset='2' d='M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5'%3E%3Canimate fill='freeze' attributeName='d' begin='0.7s' dur='0.2s' values='M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5;M18.5 18.5l0.5 0.5M18.5 5.5l0.5 -0.5M5.5 5.5l-0.5 -0.5M5.5 18.5l-0.5 0.5'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.7s' dur='0.2s' values='2;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
}

/************************/
/******** Footer ********/
/************************/

#footer {
    background-color: var(--dark);
    z-index: 2;
    position: relative;
    p {
        margin: 0;
        text-align: right;
    }
    .container-bloc {
        position: relative;
        padding: clamp(2.5rem, -0.81rem + 5.172vw, 5.5rem) 0;
    }
    #back-to-top {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        a::before,
        a::after {
            background: transparent;
        }
    }
}

/************************/
/****** Responsive ******/
/************************/

/*** lg ***/
@media only screen and (0 < width < 64rem) {
    /* Header */

    #header {
        /* height: calc(100% + var(--headerHeight)); */

        height: var(--headerHeight);
        top: inherit;
        position: fixed;
        bottom: 0;
        z-index: 3;
        padding: 0 2rem;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: var(--dark-80);
            height: 100%;
            width: 100%;
            display: block;
            backdrop-filter: blur(0.5rem);
            box-shadow: 0 -0.5rem 0.5rem var(--primary-10);
        }

        #hamburger {
            display: block;
            width: 4.4rem;
            height: var(--headerHeight);
            position: relative;
            z-index: 2;

            .inner {
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &,
                &::after,
                &::before {
                    background: var(--light);
                    width: 3.5rem;
                    height: 0.2rem;
                    position: absolute;
                }
                &::after,
                &::before {
                    content: "";
                }
                &::before {
                    top: -1rem;
                    left: 0;
                    transition:
                        background 0.3s ease,
                        transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                        top 0.05s 0.125s linear,
                        left 0.125s 0.175s ease-in;
                }
                &::after {
                    top: 1rem;
                    right: 0;
                    transition:
                        background 0.3s ease,
                        transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                        top 0.05s 0.125s linear,
                        right 0.125s 0.175s ease-in;
                }
            }

            &[data-state="open"] {
                .inner {
                    transition-delay: 0s;
                    transition-timing-function: ease-out;
                    background-color: transparent;

                    &::before {
                        left: -4rem;
                        top: -4rem;
                        transform: translate3d(4rem, 4rem, 0) rotate(45deg);
                        transition:
                            left 0.125s ease-out,
                            top 0.05s 0.125s linear,
                            transform 0.125s 0.175s
                                cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                    &::after {
                        right: -4rem;
                        top: -4rem;
                        transform: translate3d(-4rem, 4rem, 0) rotate(-45deg);
                        transition:
                            right 0.125s ease-out,
                            top 0.05s 0.125s linear,
                            transform 0.125s 0.175s
                                cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }
        }
        #hamburger[data-state="open"] + #header-nav {
            transform: translateX(0);
            transition: transform 0.3s ease;
        }
        #hamburger[data-state="closed"] + #header-nav:not(.no-transition) {
            transition: transform 0.3s ease;
        }

        #hamburger:is([data-state="open"]) + #header-nav.no-transition {
            transition:
                opacity 0.5s ease,
                transform 0s ease 0.5s;
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    #color-tools {
        position: fixed;
        right: -2rem;
        width: auto;
        left: initial;
        z-index: 3;
        transform: translateX(calc(100% - 2rem));
        &.show-tools {
            transition: 0.3s transform 0.3s ease;
            transform: translateX(calc(-100% + 2rem));
        }
    }

    #header-nav {
        position: initial;
        top: inherit;
        position: absolute;
        transform: translateX(-100%);
        background: var(--dark-80);

        width: 100vw;
        backdrop-filter: blur(0.5rem);
        height: calc(100vh - var(--headerHeight));
        bottom: var(--headerHeight);
        box-shadow: 0 -0.5rem 0.5rem var(--primary-10) inset;
        padding: 0 2rem;

        li {
            min-height: auto;
            border-bottom: 0.1rem solid var(--primary-80);
            font-size: var(--text-base);
            padding: 0;
        }
        li a,
        li a span {
            display: block;
        }
        li a {
            padding: 0;
            font-size: 1.2rem;
            &:before {
                display: none;
            }
            span {
                max-width: initial;
                /* position: initial; */
                /* opacity: 1; */
                /* background: transparent; */
                padding: 1.5rem 2rem;
                transform: none;
            }
        }
        /*li a,
        li a:is(:hover, :focus) {
            span {
                white-space: inherit;
                max-width: inherit;
                opacity: 1;
            }
        }*/
    }

    #header-links {
        width: auto;
        position: relative;
        padding: 0;
        top: inherit;
        left: inherit;
        bottom: inherit;
        &::before {
            height: clamp(0.2rem, 0.09rem + 0.172vw, 0.3rem);
            width: clamp(5rem, 2.727rem + 11.364vw, 10rem);
            left: 0;
            bottom: inherit;
            top: 50%;
            transform: translate(-100%, -50%);
            opacity: 1;
        }
        ul,
        li {
            height: 100%;
        }
        li:not(:first-child) {
            margin-top: 0;
        }
        li.gm {
            margin: 0 0.5rem 0 1rem;
        }
        li a {
            height: 100% !important;
            width: 3.5rem;
            background-size: auto 2.5rem !important;
        }
    }

    #footer {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: var(--headerHeight);
            background: var(--primary-10);
            transform: translateY(100%);
        }
    }
}

/*** md ***/
@media only screen and (0 < width < 40rem) {
    /* Header */
}
