/************************/
/******** Header ********/
/************************/
#__nuxt > div {
    position: relative;
    height: 100%;
}
#header {
    position: absolute;
    top: 0;
    height: calc(100% - clamp(6.5rem, -0.893rem + 11.552vw, 13.2rem));
    left: 0;
    width: 100%;
}
#header-links {
    position: sticky;
    top: calc(100% - clamp(17.3rem, 16.417rem + 1.379vw, 18.1rem));
    left: calc(100% - clamp(3.5rem, -3.672rem + 11.207vw, 10rem));
    bottom: 0;
}
/*** Navigation ***/

/*** Links ***/
#header-links {
    width: 3rem;
    z-index: 2;
    padding-bottom: 12rem;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: clamp(0.2rem, 0.09rem + 0.172vw, 0.3rem);
        height: 10.6rem;
        background-color: var(--light);
        transform: translateX(-50%);
        opacity: 0.8;
    }
    ul {
        margin-bottom: 0;
    }
    li:not(:first-child) {
        margin-top: 1.5rem;
    }
    li a {
        background-repeat: no-repeat;
        opacity: 0.8;
        text-indent: -9999rem;
        display: block;
        background-position: center;
    }
    li a::before,
    li a::after {
        display: none;
    }
    li a:is(:hover, :focus) {
        opacity: 1;
    }
    .gm a {
        background-image: url(../images/icons/mail.svg);
        background-size: clamp(2.2rem, 1.648rem + 0.862vw, 2.7rem) auto;
        height: clamp(1.8rem, 1.469rem + 0.517vw, 2.1rem);
    }
    .li a {
        background-image: url(../images/icons/linkedin.svg);

        background-size: auto clamp(2rem, 1.448rem + 0.862vw, 2.5rem);
        height: clamp(2rem, 1.448rem + 0.862vw, 2.5rem);
    }
    .cv a {
        background-image: url(../images/icons/download-cv.svg);
        background-size: auto clamp(2.6rem, 2.048rem + 0.862vw, 3.1rem);
        height: clamp(2.6rem, 2.048rem + 0.862vw, 3.1rem);
    }
}

/************************/
/******** Footer ********/
/************************/

#footer {
    background-color: var(--dark);
    p {
        margin: 0;
        text-align: right;
    }
    .container-bloc {
        position: relative;
        padding: clamp(2.5rem, -0.81rem + 5.172vw, 5.5rem) 0;
    }
    #back-to-top {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        a::before,
        a::after {
            background: transparent;
        }
    }
}
