#skills {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc((100vw - var(--container)) / 2 * -1);
        width: 50vw;
        background-color: var(--dark-35);
        height: 100%;
        z-index: -1;
    }
    #skills-content {
        gap: clamp(5rem, -52.469rem + 56.122vw, 16rem);
    }
    .skills {
        padding-top: clamp(2em, -1.31em + 5.172vw, 5em);
        padding-bottom: clamp(2em, -1.31em + 5.172vw, 5em);
        margin-bottom: 0;
    }

    #hard-skills {
        li {
            font-size: 1em;
        }
        ul {
            margin-bottom: 0;
        }
        .skill-item {
            margin: 0 0 1.5rem;
            .skill-label {
                @apply title-picto-small;
                margin-top: 1rem;
                min-height: 2.4rem;
                max-width: 100%;
                display: inline-flex;
                justify-content: center;
            }
            .skill-icon img {
                height: clamp(3rem, 1.897rem + 1.724vw, 4rem);
                max-width: 6rem;
            }
        }
    }
}

/************************/
/****** Responsive ******/
/************************/

@media only screen and (0 < width < 64rem) {
    #skills {
        &::before {
            width: 100vw;
            left: calc(
                (100vw - clamp(28rem, 3rem + 78.125vw, var(--wrap))) / 2 * -1
            );
        }
        #skills-content {
            gap: 4rem;
        }
        #hard-skills {
            .skill-item {
                .skill-label {
                    font-size: 1rem;
                }
            }
        }

        #soft-skills {
            li:first-child {
                margin-top: 1rem;
            }
            .skills {
                margin-top: -2rem;
                margin-bottom: -3rem;
            }
        }
    }
}
