*:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--title);
}
h1 {
    /* font-size: clamp(3rem, -0.09rem + 4.828vw, 5.8rem); */
    font-size: clamp(3.5em, 0.962em + 3.966vw, 5.8em); /* 64 - 122 */
    line-height: initial;
}

a {
    position: relative;
}
a::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary) 0.4rem,
        transparent 0.4rem
    );
    background-position: 0 0.4rem;
    background-size: 0.8rem;
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    transition: all 0.3s ease-in-out;
}
a::after {
    content: "";
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    transition: all 0.3s ease-in-out;
}
a:hover::after {
    width: 100%;
}
.bloc-title {
    padding-bottom: 2.2rem;
    margin-bottom: 1.8rem;
    position: relative;
}
.bloc-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: clamp(5em, 3.559rem + 4.505vw, 10em);
    height: 0.4rem;
    background-color: var(--primary);
}
.title:not(h1) {
    font-size: clamp(2rem, 0.676rem + 2.069vw, 3.2rem);
    line-height: initial;
}
