.section:not(#about) {
    padding: 4rem 0;
    position: relative;
    /*&:nth-child(2n)::after {
        content: "";
        position: absolute;
        left: calc((100vw - var(--container)) / 2 * -1);
        top: 0;
        background: var(--dark-10);
        height: 100%;
        width: 100vw;
        display: block;
        box-shadow: 0 0 0.3rem var(--primary-30);
        z-index: -2;
    }*/
}
/************************/
/*** heading - title ***/
/************************/
*:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--title);
}
h1 {
    font-size: clamp(3.5em, 0.962em + 3.966vw, 5.8em);
    line-height: initial;
}
.bloc-title {
    padding-bottom: clamp(1.5rem, 0.667rem + 1.302vw, 2rem);
    margin-bottom: clamp(1rem, -0.333rem + 2.083vw, 1.8rem);
    position: relative;
}
.bloc-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: clamp(5em, 3.559rem + 4.505vw, 10em);
    height: 0.1rem;
    background-color: var(--primary);
}
.title:not(h1) {
    font-size: clamp(2rem, 0.676rem + 2.069vw, 3.2rem);
    line-height: initial;
}
.subtitle {
    margin-top: clamp(2rem, 0.333rem + 2.604vw, 3rem);
    margin-bottom: 0;
    padding-bottom: 1rem;
    &::before {
        background-color: var(--light);
        width: 3rem;
    }
    h3.title {
        font-size: clamp(1.8rem, 1.359rem + 0.69vw, 2.2rem);
    }
}
/************************/
/****** Links - cta *****/
/************************/
a {
    position: relative;
}
a::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary) 0.4rem,
        transparent 0.4rem
    );
    background-position: 0 0.4rem;
    background-size: 0.8rem;
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    transition: all 0.3s ease-in-out;
}
a::after {
    content: "";
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0;
    height: 0.1rem;
    transition: all 0.3s ease-in-out;
}
a:is(:hover, :focus)::after {
    width: 100%;
}
[class^="swiper-btn-"],
.top-btn {
    border: 0.1rem solid var(--light);
    width: 3rem;
    height: 3rem;
    position: relative;
    display: inline-block;
    &::before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        border-bottom: 0.2rem solid var(--light);
        border-right: 0.2rem solid var(--light);
        transform: translate(-50%, -50%) rotate(45deg);
        top: calc(50% - 0.2rem);
        left: 50%;
    }
}
.swiper-btn-prev,
.top-btn {
    &::before {
        transform: translate(-50%, -50%) rotate(225deg);
        top: calc(50% + 0.3rem);
    }
}
.swiper-btn-prev {
    margin-right: 2rem;
}
.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}
[class^="swiper-btn-"]:is(:hover, :focus),
.top-btn:is(:hover, :focus) {
    border-color: var(--primary);
    cursor: pointer;
    &::before {
        border-color: var(--primary);
    }
}

/************************/
/****** Components ******/
/************************/
.tags {
    margin: -0.45rem 0 0 -0.45rem;

    &.technique li {
        color: var(--txt);
        border: 0.2rem solid var(--primary-80);
        background-color: var(--dark-80);
        box-shadow: 0 0 0 0.1rem var(--dark-80);
    }
    &.personal li {
        color: var(--dark);
        border: 0.2rem solid var(--dark-80);
        background-color: var(--light-40);
        box-shadow: 0 0 0 0.1rem var(--light-80);
    }
    &.other li {
        color: var(--light);
        border: 0.2rem solid var(--light-80);
        background-color: var(--dark-80);
        box-shadow: 0 0 0 0.1rem var(--dark-80);
    }
}
.tags ~ .tags {
    margin-top: 1rem;
}
.highlight {
    padding: 2rem;
    position: relative;

    background-image:
        repeating-linear-gradient(
            90deg,
            var(--primary),
            var(--primary) 0.4rem,
            transparent 0.4rem,
            transparent 0.8rem
        ),
        repeating-linear-gradient(
            180deg,
            var(--primary),
            var(--primary) 0.4rem,
            transparent 0.4rem,
            transparent 0.8rem
        ),
        repeating-linear-gradient(
            90deg,
            var(--primary),
            var(--primary) 0.4rem,
            transparent 0.4rem,
            transparent 0.8rem
        ),
        repeating-linear-gradient(
            180deg,
            var(--primary),
            var(--primary) 0.4rem,
            transparent 0.4rem,
            transparent 0.8rem
        );
    background-position:
        left top,
        right top,
        left bottom,
        left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size:
        100% 0.1rem,
        0.1rem 100%,
        100% 0.1rem,
        0.1rem 100%;

    &::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 100%;
        height: 100%;
        background-color: var(--primary-10);
        z-index: -1;
    }

    .highlight-title {
        @apply title-picto;
        margin-bottom: 1rem;
    }

    .highlight-desc {
        padding-left: clamp(3.2rem, 1.545rem + 2.586vw, 4.7rem);
        background-image: url(../images/icons/missing-techno.svg);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 0;
        background-size: clamp(2.2rem, 1.097rem + 1.724vw, 3.2rem) auto;
    }
}

@keyframes move-dash {
    100% {
        background-position:
            24rem 0,
            100% 24rem,
            -24rem 100%,
            0 -24rem;
    }
}
/*
@keyframes title-highlight {
    from {
        width: 0;
    }
    to {
        width: clamp(5em, 3.559rem + 4.505vw, 10em);
    }
}
@keyframes subtitle-highlight {
    from {
        width: 0;
    }
    to {
        width: 3rem;
    }
}*/
@keyframes move-dash-a {
    to {
        background-position: 8rem;
    }
}
@-webkit-keyframes move-dash-a {
    to {
        background-position: 8rem;
    }
}
@-moz-keyframes move-dash-a {
    to {
        background-position: 8rem;
    }
}
@-o-keyframes move-dash-a {
    to {
        background-position: 8rem;
    }
}

@keyframes glow-btn {
    from {
        --glow: transparent;
    }
    to {
        --glow: var(--primary-50);
    }
}
@-webkit-keyframes glow-btn {
    from {
        --glow: transparent;
    }
    to {
        --glow: var(--primary-50);
    }
}
@-moz-keyframes glow-btn {
    from {
        --glow: transparent;
    }
    to {
        --glow: var(--primary-50);
    }
}
@-o-keyframes glow-btn {
    from {
        --glow: transparent;
    }
    to {
        --glow: var(--primary-50);
    }
}
@property --glow {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@supports (animation-range: 0vh 100vh) {
    .section {
        view-timeline-name: --section-scroll;
        view-timeline-axis: block;
    }
    a::before {
        -webkit-animation: move-dash-a linear both;
        -moz-animation: move-dash-a linear both;
        -o-animation: move-dash-a linear both;
        animation: move-dash-a linear both;

        animation-timeline: scroll();
        animation-range: entry 0% exit 100%;
    }
    .highlight {
        -webkit-animation: move-dash linear both;
        -moz-animation: move-dash linear both;
        -o-animation: move-dash linear both;
        animation: move-dash linear both;

        animation-timeline: scroll();
        animation-range: cover 0% exit 100%;
    }
    /*.bloc-title:not(.subtitle)::before,
    .subtitle::before {
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
    }
    .bloc-title:not(.subtitle)::before {
        animation-name: title-highlight;
        animation-range: contain 20% contain 50%;
    }
    .subtitle::before {
        animation-name: subtitle-highlight;
        animation-range: contain 24% contain 54%;
    }*/
    .cta a {
        -webkit-animation: glow-btn linear both;
        -moz-animation: glow-btn linear both;
        -o-animation: glow-btn linear both;
        animation: glow-btn linear both;

        animation-timeline: --section-scroll;
        animation-range: cover 60% cover 70%;
        box-shadow: 0 0 2rem var(--glow);
    }
}
