/************************/
/*** heading - title ***/
/************************/
*:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--title);
}
h1 {
    font-size: clamp(3.5em, 0.962em + 3.966vw, 5.8em);
    line-height: initial;
}
.bloc-title {
    padding-bottom: 2.2rem;
    margin-bottom: 1.8rem;
    position: relative;
}
.bloc-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: clamp(5em, 3.559rem + 4.505vw, 10em);
    height: 0.4rem;
    background-color: var(--primary);
}
.title:not(h1) {
    font-size: clamp(2rem, 0.676rem + 2.069vw, 3.2rem);
    line-height: initial;
}
/************************/
/****** Links - cta *****/
/************************/
a {
    position: relative;
}
a::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary) 0.4rem,
        transparent 0.4rem
    );
    background-position: 0 0.4rem;
    background-size: 0.8rem;
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    transition: all 0.3s ease-in-out;
}
a::after {
    content: "";
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    transition: all 0.3s ease-in-out;
}
a:hover::after {
    width: 100%;
}

/************************/
/****** Components ******/
/************************/
.tags {
    margin: -0.45rem 0 0 -0.45rem;

    &.technique li {
        color: var(--txt);
        border: 0.2rem solid var(--primary-80);
        background-color: var(--dark-80);
        box-shadow: 0 0 0 0.1rem var(--dark-80);
    }
    &.personal li {
        color: var(--dark);
        border: 0.2rem solid var(--dark-80);
        background-color: var(--light-40);
        box-shadow: 0 0 0 0.1rem var(--light-80);
    }
    &.other li {
        color: var(--light);
        border: 0.2rem solid var(--light-80);
        background-color: var(--dark-80);
        box-shadow: 0 0 0 0.1rem var(--dark-80);
    }
}
.tags ~ .tags {
    margin-top: 1rem;
}
.highlight {
    padding: 2rem;
    position: relative;

    background-image:
        repeating-linear-gradient(
            90deg,
            var(--primary),
            var(--primary) 0.8rem,
            transparent 0.8rem,
            transparent 1.2rem
        ),
        repeating-linear-gradient(
            180deg,
            var(--primary),
            var(--primary) 0.8rem,
            transparent 0.8rem,
            transparent 1.2rem
        ),
        repeating-linear-gradient(
            90deg,
            var(--primary),
            var(--primary) 0.8rem,
            transparent 0.8rem,
            transparent 1.2rem
        ),
        repeating-linear-gradient(
            180deg,
            var(--primary),
            var(--primary) 0.8rem,
            transparent 0.8rem,
            transparent 1.2rem
        );
    background-position:
        left top,
        right top,
        left bottom,
        left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size:
        100% 0.4rem,
        0.4rem 100%,
        100% 0.4rem,
        0.4rem 100%;

    &::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 100%;
        height: 100%;
        background-color: var(--primary-10);
    }

    .highlight-title {
        @apply title-picto;
        margin-bottom: 1.5rem;
    }

    .highlight-desc {
        padding-left: clamp(3.2rem, 1.545rem + 2.586vw, 4.7rem);
        background-image: url(../images/icons/missing-techno.svg);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 0;
        background-size: clamp(2.4rem, 0.966rem + 2.241vw, 3.7rem) auto;
    }
}
